extends layout

block content
  h2 #{title}

  address
    strong Support: 
    a(href='mailto:m0rg0t.Anton@gmail.com') m0rg0t.Anton@gmail.com

  .row
    .col-md-6
      h3 Lenev Anton
      img(src='/images/anton1.jpg' alt='Anton Lenev')
    .col-md-6
      h3 Rastorgueva Khristina
      img(src='/images/khristina1.jpg' alt='Rastorgueva Khristina')
