extends layout

block content
  .jumbotron
    h1 Прозрачный бюджет
    p.lead Прозрачный бюджет - краундсорсинговая платформа для объяснения закупок и бюджетов учереждений и выбора наиболее эффективных.
    p
      a.btn.btn-primary.btn-large(href='/about') Подробнее &raquo;

  .row
    .col-md-12
      div(id="slider" class="nivoSlider" style="height: 300px;")
        img(src="images/slide1 (1).jpg" alt="")
        img(src="images/slide1 (2).jpg" alt="")
        img(src="images/slide1 (3).jpg" alt="")

  .row
    .col-md-12
      include texts/about_description.html
  

